@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
   font-family: 'GothamBlack';
   src: url('../public/fonts/Gotham-Black.ttf') format('truetype');
   font-weight:bold;
   font-style: normal;
 }
 @font-face {
  font-family: 'Gotham Black';
  src: url('../public/fonts/Gotham-Black.ttf') format('truetype');
  font-weight:bold;
  font-style: normal;
}
 @font-face {
  font-family: 'Gotham Black Light';
  src: url('../public/fonts/Gotham-Black.ttf') format('truetype');
  font-weight:100px;
  font-style: normal;
}
 @font-face {
  font-family: 'Anton';
  src: url('../public/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.gothic-a1-light {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit Black';
  src: url('../public/fonts/Outfit-Black.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Freeman';
  src: url('../public/fonts/Freeman/Freeman-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Almarai';
  src: url('../public/fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrapBold';
  src: url('../public/fonts/Trap-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
.gantari-bold {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.custom-faq-bg {
  @media screen and (min-width: 1000px) {
    background-image: url('../public/assests/assests/FAQs_background.png');
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: center;
    

}}

.custom-fplogoround2 {
  @media screen and (min-width: 1000px) {
    background-image: url('../assests/assests/fplogoround2.svg');
    background-size:contain ;
    background-repeat: no-repeat;
    background-position: center;
    

}
}
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #DAD0FF; /* track background color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #807DFC; /* thumb color */
  border-radius: 10px; /* roundness of the scrollbar thumb */
  border: 2px solid transparent; /* Add space around the thumb */
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #807DFC #DAD0FF; /* For Firefox */
}


.custom-round2 {
    background-image: url('../assests/assests/Round2Back.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.custom-profilelogo{
  background-image: url('../assests/assests/profilelogo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}